{% extends 'base.html'%}

{%load static%}

 {%block content%}

 <div class="col-md-12 mt-5">


<div class="row">

     <img class="m-1 mx-auto" src="{% static 'images/tagrebte.png' %}" width="200" alt="Tgrebte" > 

</div>
<div class="row">

<h2 class="border-bottom p-3">موقع تجربتي </h2>
</div>
<div class="row p-3">
     <p>
          هو موقع موجه لطلبة الجامعات والطلبة الحاصلين على شهادة التعليم الثانوي في الجمهورية العربية السورية والمقبلين على دخول المرحلة الجامعية
           , يهدف الموقع الى تجميع اكبر عدد من آراء الطلبة الجامعيين حول التخصص الذين يقومون بدراسته واهميته بنظرهم 
          وإيجابياته وسلبياته لمساعدة الطلبة المقبلين على دخوله وإمدادهم بالمعلومات حول طبيعة المواد ومدة صعوبتها 
          وكيفية دراستها وعن المحتوى الذي يتم تدريسه وكذلك الإجابة على استفسارات الطلبة بناءاً على تجربة سابقة للطلبة الجامعيين وبذلك مساعدتهم على توضيح الافكار والاختيار الصحيح لفرعهم الجامعي .
         
         </p>

</div>




</div>


     {%endblock%}