{% extends 'base.html'%}

 {%block content%}
 <div class="col-md-12 mt-5">
 {% load bootstrap4 %}




    <legend class="border-bottom pb-1 mb-3 "> تعديل الملف الشخصي</legend>
    <div class="border p-4 mb-5 mt-4">
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
      
        {% bootstrap_form user_form %}
      
            <div>
                <span class="mb-2" style="display: block; ">صورة الملف الشخصي *</span>

                  الصورة الحالية : <span><code class="comment_body text-dark" style="white-space: pre-line;" ><a href="{{user.profile.image.url}}">{{user.profile.image}}</a></code></span>

                <br>
                <label for="image" class="btn btn-outline-info mt-2">اختيار الصورة</label>
                <input type="file" name="image" id="image" accept="image/*" style="display:none;">

            </div>
        <input class="btn btn-info mt-4" style="border-radius: 45px;" type="submit" value="تعديل">
               </form>
    </div>


     {%endblock%}